<nav class="navbar navbar-custom navbar-expand-lg navbar-dark" role="navigation">

    <div class="navbar-nav">
        <a class="nav-link" style="color: inherit;">Cinema Center</a>
    </div>

    <!-- dropdown menu when screen size is small enough -->
    <button class="navbar-toggler ml-auto pull" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- items of the header/dropdown menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: larger;">

        <!-- list of menu options left-aligned-->
        <ul class="navbar-nav mr-auto" id="menu-container">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item pe-5">
                <a class="nav-link" href="/actors">Actors</a>
            </li>              
            <li class="nav-item" style="margin-top: 5px">
                <input id="searchbar" type="search" placeholder="Search for a movie">
            </li>

            <!-- <li class="nav-item ps-5" id="loginButton">
                <a class="nav-link" href="login">Login</a>
            </li>

            <li class="nav-item ps-5" id="registrationButton">
                <a class="nav-link" href="registration">Sign Up</a>
            </li> -->

            <!-- <li class="nav-item ps-5" id="profileButton">
                <a class="nav-link" href="profile">User Profile</a>
            </li> -->
        </ul>

    </div>
</nav>