html {
    height: 100%;
  }
  
  body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      padding: 0;
      margin: 0;
      background-color: #191b1c !important;
      color: white !important;
      max-height: 1000px;
    }
  
  label {
    font-size: 0.75rem;
  }
  
  .user-reg-input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    background-color: black !important;
    color: white !important;
    width: 100%;
    border-radius: 10px;
  }
  
  .nav-link{
    color: #4ab3f4; 
    font-weight: bold; 
  }
  
  .navbar-custom{
    display: flex;
    flex-direction: row;
    background-color: #483368;
  }
  
  .user-registration-container{
    /* border: solid white;
    border-radius: 5px; */
    min-width: 100px;
    min-height: 400px;
    /* background-color: #191b1c !important; */
    /* background-color: gray; */
  }
  
  .user-registration-form{
    margin: 0 auto;
    padding: 15px;
    max-width: 400px;
    border: currentColor 5px;
    border-radius: 10px;
    background-color: #253036 !important;
    /* background-color: black; */
  }
  
  .user-registration-header-container{
    height: 50px;
  }
  
  .user-registration-header{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
  }
  
  .user-registration-main-container{
    padding: -5px;
    background-color: #253036 !important;
    /* background-color: black; */
  }
  
  .user-registration-main-header{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .user-registration-main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .user-reg-input-form-container{
    display: flex;
    flex-direction: column;
    background-color: inherit;
  }
  
  .user-reg-input-form{
    background-color: inherit;  
    color: white;
    margin: 5px;
  }