.information_container {
    margin-top: 5%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid white;
}
  
button{
cursor: pointer;
outline: 0;
color: #AAA;
background-color: darkgray;

}

.btn:focus {
outline: none;
}

.green{
color: green;
}

.red{
color: red;
}