body
{
    font-family: sans-serif;
    color: #3c3939;
    background-color: green;
}

.profile-card
{
    width: 400px;
    margin: auto;
    background: green;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.image-container
{
    position: relative;
}

.info 
{
    color: #4b4fe2;
    margin-right: 16px;
}

.main-container
{
    padding: 20px;
}