@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.review_section {
  box-sizing: border-box;
   font-family: 'Raleway', sans-serif !important;
  width:80vw;
  margin: 15px auto;
}
.review_section *,
.review_section *::before,
.review_section *::after {
  box-sizing: inherit; 
}
.review_section *:focus,.review_section *:active
{
  outline:0 !important;
}
.review_section *{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.review_section body,.review_section td,.review_section th,.review_section p{
	color: #333;
   font-family: 'Raleway', sans-serif;
}
.review_section body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
.review_section h2 {
  display: inline-block;
  color: white;
}
.review_section #review-add-btn {
  padding: 0;
  margin-left: 10px;
  font-size: 1.6em;
  cursor: pointer;
  display: none;
}
/* ====================== Review Form ====================== */
.review_section #modal {
  /* position: absolute;
  left: 10vh;
  top: 10vh; */
  /* fix exactly center: https://css-tricks.com/considerations-styling-modal/ */
  /* begin css tricks */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  border: 1px solid #666;
  border-radius: 10px;
  opacity: 0;
  transition: all .3s;
  overflow: hidden;
  background-color: #eee;
  display: none;
}
.review_section #modal.show {
  opacity: 1;
  display: flex;
}
.review_section .modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; 
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
.review_section .modal-overlay.show {
  display: block;
  opacity: 0.5;  
}
.review_section #modal .close-btn {
  align-self: flex-end;
  font-size: 1.4em;
  margin: 8px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}
.review_section form {
  width:70vw;
  padding: 0 20px 20px 20px;
}

.review_section input,

.review_section select,.review_section .rate, .review_section textarea, .review_section button {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px #e1e1e1;
  font-size: 16px;
  padding: 8px;
}
.review_section input[type="radio"] {
  box-shadow: none;
  outline:0 !important;
}
.review_section button {
  min-width: 48px;
  min-height: 48px;
}
.review_section button:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
.review_section button#review-add-btn, 
.review_section button.close-btn, 
.review_section button#submit-review-btn {
  min-height: 40px;
}
.review_section button#submit-review-btn {
  font-weight: bold;
  cursor: pointer;
  padding: 0 16px;
}

.review_section .fieldset {
  margin-top: 20px;
}
.review_section .right {
  align-self: flex-end;
}
.review_section #review-form-container {
  width: 100%;
  padding: 0 20px 26px;
  color: #333;
  overflow-y: auto;
}
.review_section #review-form-container h2 {
  margin: 0 0 0 6px;
}
.review_section #review-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.review_section #review-form label, .review_section #review-form input {
  display: block;
}
.review_section #review-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.review_section #review-form .rate label,.review_section  #review-form .rate input,
.review_section #review-form .rate1 label,.review_section  #review-form .rate1 input {
  display: inline-block;
}
/* Modified from: https://codepen.io/tammykimkim/pen/yegZRw */
.review_section .rate {
  height: 36px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}
.review_section #review-form .rate > label {
  margin-bottom: 0;
  margin-top: -5px;
  height: 30px;
}
.review_section .rate:not(:checked) > input {
  top: -9999px;
  margin-left: -24px;
  width: 20px;
  padding-right: 14px;
  z-index: -10;
}
.review_section .rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}

.review_section .rate2 {
  float: none;
}
.review_section .rate:not(:checked) > label::before {
  content: '★ ';
  position: relative;
  top: -10px;
  left: 2px;
}
.review_section .rate > input:checked ~ label {
  color: #ffc700;
}
.review_section .rate > input:checked:focus + label, .review_section .rate > input:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
.review_section .rate:not(:checked) > label:hover,
.review_section .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.review_section #submit-review {
  align-self: flex-end;
}

 .review_section input,.review_section textarea{
    width:100%;
     font-family: 'Raleway', sans-serif;
   font-size:14px;
  }
@media only screen and (min-width: 550px){
 
}





/*PEN STYLES*/
 .review_section * {
	 box-sizing: border-box;
}
.review_section {
	 background: inherit;
}
 .blog-card {
	 display: flex;
	 flex-direction: column;
	 /* margin: 5px 0; */
   margin: auto;
   width: 750px;
	 box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
	 margin-bottom: 1.6%;
	 background: white;
	 line-height: 1.4;
	 font-family: 'Raleway', sans-serif;
	 border-radius: 5px;
	 overflow: hidden;
	 z-index: 0;
}
 .blog-card a {
	 color: inherit;
}

 .blog-card .meta {
	 position: relative;
	 z-index: 0;
	 height: 180px;
}
 .blog-card .photo {
	height:200px;
	 width:200px;
	 margin:0;
}

 .blog-card .description {
	 padding: 1rem;
	 /* background: #fff; */
   background-color: inherit;
	 position: relative;
	 z-index: 1;
}
 .blog-card .description a, .blog-card .description h2 {
	    font-family: 'Raleway', sans-serif;
      color: black;
      text-decoration: none;
}
 .blog-card .description a {
	 line-height: 1;
	 margin: 0;
	 font-size: 1.7rem;
}
.blog-card .description a:hover {
  text-decoration: underline;
}

 .blog-card .description h2 {
	 font-size: 1.5rem;
	 font-weight: 300;
	 /* text-transform: uppercase; */
	 color: black;
	 margin-top: 5px;
}

 
 .blog-card p:first-of-type {
   font-size: 1.5rem;
	 margin-top: 1.25rem;
}
 .blog-card p:first-of-type:before {
	 content: "";
	 position: absolute;
	 height: 5px;
	 background: #5ad67d;
	 width: 35px;
	 margin-top:-1rem;
	 border-radius: 3px;
}

 @media (min-width: 640px) {
	 .blog-card {
		 flex-direction: row;
		 max-width: 700px;
	}
	 .blog-card .meta {
		 flex-basis: 0%;
		 height: 200px;
	}
	 .blog-card .description {
		 flex-basis: 95%;
	}
	 .blog-card .description:before {
		 content: "";
		 background: inherit;
		 width: 30px;
		 position: absolute;
		 left: -10px;
		 top: 0;
		 bottom: 0;
		 z-index: -1;
	}
	 .blog-card.alt {
		 flex-direction: row-reverse;
	}

	 .blog-card.alt .details {
		 padding-left: 25px;
	}
}
 

.checked {
  color: orange;
}